@import "tailwindcss";

:root {
  --background: #010105;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-mono: var(--font-geist-mono);
  --color-text: #808080;
  --color-border: #3c3a46;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Helvetica, sans-serif;
}

.ju367v78 {
  background: var(--foreground) !important;
  color: var(--background) !important;
  font-family: var(--font-sans), Helvetica, sans-serif !important;
}
.text-gradient {
  background: linear-gradient(to right, #6366f1, #a855f7, #ec4899);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

